<div class=row>
  <script>
  $(function(){
    $("button#like_<%= post._id %>").click(function(){
     //fadeout the likes
     $("span#like_count_<%= post._id %>").fadeOut("fast");

     $.ajax({
       type: "POST",
       data: "post_id=<%= post._id %>",
       url: "/like",
       success: function(msg)
       {
         console.log(msg);
         $("button#like_<%= post._id %>").replaceWith('<button type="button" class="btn liked disabled="disabled">Liked</button>');
         $("span#like_count_<%= post._id %>").html(msg);
         //fadein the vote count
         $("span#like_count_<%= post._id %>").fadeIn();
       }
     });
    });
  });

  </script>
  <div class="col-md-8 col-md-offset-2" style="margin-bottom: 20px">
    <a href="/user/<%= post.submitted_by %>"><img height="50" src="https://secure.gravatar.com/avatar/cd22b125598d302d73fd83719f262292?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="50"></a><br /><br />
    <a href="/user/<%= post.submitted_by %>"><%= post.submitted_by %></a>
    <span class="pull-right"><time class="timeago" datetime="<%= post.date.toISOString() %>"><%= post.date.toISOString() %></time></span>
    <hr />
    <button id="like_<%= post._id %>" class="btn btn-primary like" type="button"><i class="fa fa-thumbs-o-up"></i> Like</button>
    <span class="pull-right">
      <span class="label label-warning"><%= post.comments.length %> Comments</span>
			<span class="label label-warning"><span id="like_count_<%= post._id %>"><%= post.likes.length %></span> Likes</span>
    </span>
  </div>
  <br /><br />
  <div class="col-md-8 col-md-offset-2 <%= post.filter %>" style="font-size: 57px; padding-bottom: 10px;"><%= post.body %></div>
  <div class="col-md-8 col-md-offset-2">
    <br />
    <br />
    <br />
    <br />

    <h3>Comments (<%= post.comments.length %>)</h3>
    <% if (post.comments.length > 0) { post.comments.forEach(function(comment) { %>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2 pull-left"><img src="https://secure.gravatar.com/avatar/cd22b125598d302d73fd83719f262292?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" /><br />
            <a href="/user/<%= comment.user %>"><%= comment.user %></a><br />
            <time class="timeago" datetime="<%= comment.date_commented.toISOString() %>"><%= comment.date_commented.toISOString() %></time>
          </div>
          <div class="col-md-10">
            <%= comment.body %>
          </div>
        </div>
      </div>
      <hr />
    <% });} %>
    <br />
    <form name="form-comment" method="POST" action="/comment" id="form_post_sub" class="form">
      <input type="hidden" name="_method" value="POST" />
      <input type="hidden" name="post_id" value="<%= post._id %>" />
      <textarea class="form-control" name="comment" type="text" id="comment" value="" rows="3"></textarea>
      <br />
      <button type="submit" id="sub_but" class="btn btn-primary">Comment</button>
    </form>
  </div>

</div>
